.footer{
  bottom : 0;
  position: absolute;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
.loginContainer{
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
  height: 50vh;
}
.userImg{
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-left : 80px;
}
.userText{
  color:coral;
  align-items:center;
}